.empty-corner {
    float: left;
    height: 128px;
    width: 25vw;
}

aside {
    position: fixed;
    top: 128px;
    left: 0;
    padding: 1em 1em 0em 1em;
    width: 25vw;
    height: 100vw;
    color: #f38020;
    z-index: 500;
}

section {
    float: right;
    width: 75vw;
    padding: 0em 1em 1em 1em;
}

aside hr, #future-eps hr {
    margin-bottom: 1em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #faae40, #faae40, rgba(0, 0, 0, 0));
}

#current-ep hr, #previous-eps hr {
    margin-bottom: 1em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #505555, #505555, rgba(0, 0, 0, 0));
}

li {
    padding-bottom: 1em;
}

#link-box {
    position: relative;
    top: 175px;
    text-align: center;
}

#current-ep, #previous-eps {
    background-color: #f38020;
    scroll-margin-top: 128px;
}

#future-eps {
    background-color: #505555;
    scroll-margin-top: 128px;
}

#current-ep h1, #previous-eps h1, #future-eps h1 {
    padding: 1em;
}

h2{
    padding: 1em;
}

.ep-box {
    margin: 20px;
    padding: 20px;
    border-style: double;
    border-color: #faae40;
    font-size: 16px;
}

.orange {
    border-color: #1D2020;
}

.player {
    position:relative;
    padding-top: 56.25%;
}

/* unvisited link */
main a:link {
    color: #1D2020;
}

/* visited link */
main a:visited {
color: #1D2020;
}

/* mouse over link */
main a:hover {
color: #252929;
}

/* selected link */
main a:active {
color: #d5d7d8;
}

@media (max-width: 869px) {
    #link-box {
        text-align: right;
    }
    aside hr {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #faae40, #faae40);
    }
    aside {
        padding: 1em 0.5em 0em 1em;
    }
    li {
        direction: rtl;
        list-style-position: outside;
        list-style: none;
    }
}

/* @media (max-width: ) */

@media (max-width: 414px) {
    #link-box {
        top: 0;
        width: 100vw;
    }

    aside hr {
        display: none;
    }

    aside li {
        display: inline;
        padding: 0px 5px;
        font-size: 14px;
    }

    aside ul {
        text-align: center;
    }

    aside {
        position: fixed;
        top: 128px;
        left: 0;
        height: 50px;
        width: 100vw;
        background-color: black;
        z-index: 500;
        padding: 1em 1em 0em 1em;
    }
    section {
        width: 100vw;
    }
    main {
        top: 178px;
    }
    #current-ep, #previous-eps, #future-eps {
        scroll-margin-top: 178px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    aside {
        padding: 1em 0em 0em 0em;
    }
    .ep-box {
        margin: 10px;
        padding: 10px;
    }
}