aside {
    float: left;
    padding-top: 3em;
    width: 25vw;
    height: 100vw;
    color: palevioletred;
}

section {
    float: right;
    width: 75vw;
    padding: 1em 2em 1em 1em;
}

#current-ep {
    background-color: #f38020;
}

/* Height value literally just to make it a different color. Necessary? */
#previous-eps {
    background-color: #f38020;
}

#future-eps {
    background-color: #1D2020;
    height: 50vh; 
}

#current-ep h1, #previous-eps h1, #future-eps h1 {
    padding: 1em;
}

h2{
    padding: 1em;
}

.ep-box {
    margin: 20px;
    padding: 20px;
    border-style: double;
    border-color: #faae40;
    font-size: 16px;
}

.current {
    border-color: #1D2020;
}

/* unvisited link */
main a:link {
    color: #1D2020;
}

/* visited link */
main a:visited {
color: #1D2020;
}

/* mouse over link */
main a:hover {
color: #252929;
}

/* selected link */
main a:active {
color: #d5d7d8;
}