main {
    padding-top: 2em;
}

h1 {
    text-align: center;
}

hr {
    margin: 1em 0;
}

section {
    display: block;
    padding: 3em;
    font-size: 20px;
    text-align: center;
}

.main-img {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 1em;
}

.text-content {
    padding: 0em 9em;
}

@media (max-width: 1170px) {
    .text-content {
        padding: 0em 5em;
    }
}

@media (max-width: 949px) {
    .text-content {
        padding: 0em 3em;
    }
}

@media (max-width: 700px) {
    .text-content {
        padding: 0em 1em;
    }
}

@media (max-width: 500px) {
    section{
        padding: 2em 1.5em;
    }
    .text-content {
        padding: 0em;
    }
}